/* 
Themes Name : Portfolio
Author      : John Doe
Version     : 1.0
Licensed    : GPL Themes
*/

* {
    box-sizing: border-box;
}

#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #06357a;
    z-index: 99;
}

/* Navigation */
nav {
    position: relative;
    background-color: #06357a;
}

nav .navbar-brand {
    font-size: 25px;
    font-family: 'Acme', sans-serif;
}

nav a.nav-link {
    color: #a1c2f3 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 10px;
}

nav a.nav-link.active,
nav a.nav-link:hover {
    border-radius: 10px;
    background-color: antiquewhite;
    color: #c90c0c !important;
}

/* About */
#about {
    position: relative;
    background-color: #a1c2f3;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(161, 194, 243, 1) 100%);
    padding: 120px 0;
    text-align: center;
}

#about img {
    width: 200px;
    height: 200px;
    border: 5px solid #06357a;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top center;
    -o-object-position: top center;
}

#about h1 {
    position: relative;
    margin: 0;
    padding: 25px 0;
    color: #06357a;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Bloody Terror';
}

#about h5 {
    position: relative;
    margin: 0;
    padding: 0;
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#about button.btn {
    background-color: #06357a;
    border: 2px solid #06357a;
    font-size: 20px;
    margin-top: 15px;
    width: 50%;
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

#about button.btn:hover {
    background-color: transparent;
    color: #06357a;
}

/* Services */
#service {
    position: relative;
    padding: 0;
}

#service h2 {
    position: relative;
    margin-bottom: 50px;
    color: #06357a;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}

#service .service-list {
    position: relative;
    padding: 15px 0;
}

#service .service-list .service-item {
    position: relative;
    margin-bottom: 25px;
    text-align: center;
}

#service .service-list .service-item img {
    width: 50%;
}

#service .service-list .service-item h3 {
    color: #06357a;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

#service .service-list .service-item p {
    color: #797676;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#service .service-list .service-item a.btn {
    background-color: #06357a;
    border: 2px solid #06357a;
    font-size: 20px;
    margin-top: 15px;
    width: 50%;
}

#service .service-list .service-item a.btn:hover {
    background-color: transparent;
    color: #06357a;
}

/* Projects */
#project {
    position: relative;
    background-color: #a1c2f3;
    padding: 50px 0;
}

#project h2 {
    position: relative;
    margin-bottom: 50px;
    color: #06357a;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
}

#project .project-item {
    position: relative;
    margin: 25px 0;
}

#project .project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top center;
    -o-object-position: top center;
    margin-bottom: 15px;
}

#project .project-item h3 {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #06357a;
    text-transform: uppercase;
    margin: 0;
}

#project .project-item h5 {
    position: relative;
    color: #494949;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Testimonials */
#testimonial {
    position: relative;
    padding: 50px 0;
}

#testimonial h2 {
    position: relative;
    margin-bottom: 50px;
    color: #06357a;
    font-size: 40px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

#testimonial .carousel-item .carousel-content {
    text-align: center;
    padding: 0 100px;
}

#testimonial .carousel-item .carousel-content img {
    width: 160px;
    border: 4px solid #06357a;
    margin-bottom: 15px;
}

#testimonial .carousel-item .carousel-content h5 {
    color: #06357a;
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

#testimonial .carousel-item .carousel-content p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Contact */
#contact {
    position: relative;
    padding: 50px 0;
    background-color: #a1c2f3;
}

#contact form {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

#contact form label {
    color: #06357a;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
    position: relative;
    padding: 8px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: 2px solid #06357a;
}

#contact form button[type="submit"] {
    position: relative;
    display: block;
    width: 50%;
    background-color: #06357a;
    color: #fff;
    border: 2px solid #06357a;
    margin: 15px auto;
}

#contact form button[type="submit"]:hover {
    background-color: transparent;
    color: #06357a;
}

/* Client */
#client {
    position: relative;
    padding: 50px 0;
}

#client h2 {
    position: relative;
    margin-bottom: 50px;
    color: #06357a;
    font-size: 40px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

/* Footer */
#footer {
    position: relative;
    padding: 10px;
}

#footer p {
    position: relative;
    text-align: center;
    color: #06357a;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin: 0;
}

/* Preloader */
#preloader {
    position: fixed;
    background-color: rgba(161, 194, 243, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.spinner {
    position: relative;
 }
 
 .spinner::before,
 .spinner::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
 }
 
 .spinner::before {
    width: 15.7px;
    height: 15.7px;
    background: #eeff01;
 }
 
 .spinner::after {
    width: 56px;
    height: 56px;
    animation: spinner-y7ej37 1s infinite linear;
    border: 11.2px solid #eeff01;
    border-left-color: transparent;
    border-right-color: transparent;
 }
 
 @keyframes spinner-y7ej37 {
    to {
       transform: translate(-50%, -50%) rotate(360deg);
    }
 }

/* Responsive */
@media(max-width:768px) {
    #service .service-list .service-item img {
        width: 75%;
    }

    #project .project-item h5 {
        font-size: 12px;
    }

    #testimonial .carousel-item .carousel-content p {
        font-size: 16px;
    }
}

@media(max-width:640px) {
    #service .service-list .service-item {
        margin: 25px 0;
    }

    #project .project-item img {
        height: 350px;
    }

    #testimonial .carousel-item .carousel-content {
        padding: 0 15px;
    }
}

@media(max-width:380px) {
    #project .project-item img {
        height: 250px;
    }
}